<!DOCTYPE html>
<html lang="$i18n.locale" id="html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="<%= BASE_URL %>css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="<%= BASE_URL %>css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="<%= BASE_URL %>css/responsive.css" rel="stylesheet" />
</head>
<body>
<noscript>
</noscript>
<div id="app"></div>
<!-- jQery -->
<script src="/js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="<%= BASE_URL %>js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="<%= BASE_URL %>js/bootstrap.js"></script>
<!-- custom js -->
<script src="<%= BASE_URL %>js/custom.js"></script>
</body>
</html>
