<template>
  <section class="arrival_section">
    <div class="container">
      <div class="box">
        <div class="arrival_bg_box">
          <img src="https://inaseliesay.gitlab.io/vue-shop/images/arrival-bg.png" alt="">
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto">
            <div class="heading_container remove_line_bt">
              <h2>
                #NewArrivals
              </h2>
            </div>
            <p style="margin-top: 20px;margin-bottom: 30px;">
              Vitae fugiat laboriosam officia perferendis provident aliquid voluptatibus dolorem, fugit ullam sit earum id eaque nisi hic? Tenetur commodi, nisi rem vel, ea eaque ab ipsa, autem similique ex unde!
            </p>
            <a href="">
              Shop Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "ArrivalComponent"
}
</script>

<style scoped>

</style>