<template>
  <section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our <span>products</span>
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Men's Shirt
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Men's Shirt
              </h5>
              <h6>
                $75
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Men's Shirt
              </h5>
              <h6>
                $80
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Women's Dress
              </h5>
              <h6>
                $68
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p4.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Women's Dress
              </h5>
              <h6>
                $70
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p5.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Women's Dress
              </h5>
              <h6>
                $75
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p6.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Women's Dress
              </h5>
              <h6>
                $58
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p7.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Women's Dress
              </h5>
              <h6>
                $80
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p8.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Men's Shirt
              </h5>
              <h6>
                $65
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p9.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Men's Shirt
              </h5>
              <h6>
                $65
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p10.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Men's Shirt
              </h5>
              <h6>
                $65
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p11.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Men's Shirt
              </h5>
              <h6>
                $65
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1">
                  Add To Cart
                </a>
                <a href="" class="option2">
                  Buy Now
                </a>
              </div>
            </div>
            <div class="img-box">
              <img src="https://inaseliesay.gitlab.io/vue-shop/images/p12.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Women's Dress
              </h5>
              <h6>
                $65
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View All products
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "ProductComponent"
}
</script>

<style scoped>

</style>