<template>
  <InnerAbout/>
  <WhyAbout/>
</template>

<script>
import InnerAbout from "@/Pages/AboutComponents/InnerAbout";
import WhyAbout from "@/Pages/AboutComponents/WhyAbout";
export default {
  name: "AboutPage",
  components: {WhyAbout, InnerAbout}
}
</script>

<style scoped>

</style>