<template>
  <InnerContact/>
  <WhyContact/>
</template>

<script>
import InnerContact from "@/Pages/ContactComponents/InnerContact";
import WhyContact from "@/Pages/ContactComponents/WhyContact";
export default {
  name: "ContactPage",
  components: {WhyContact, InnerContact}
}
</script>

<style scoped>

</style>