<template>
  <SliderComponent/>
  <WhyComponent/>
  <ArrivalComponent/>
  <ProductComponent/>
  <SubscribeComponent/>
  <FooterHome/>
</template>

<script>
import SliderComponent from "@/Pages/HomeComponents/SliderComponent";
import FooterHome from "@/Pages/HomeComponents/FooterHome";
import WhyComponent from "@/Pages/HomeComponents/WhyComponent";
import ArrivalComponent from "@/Pages/HomeComponents/ArrivalComponent";
import ProductComponent from "@/Pages/HomeComponents/ProductComponent";
import SubscribeComponent from "@/Pages/HomeComponents/SubscribeComponent";

export default {
  components: {
    SubscribeComponent,
    ProductComponent, ArrivalComponent, WhyComponent, FooterHome, SliderComponent
  }
}
</script>

<style scoped>

</style>