<template>
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <router-link class="navbar-brand" to="/">
          <img width="250" src="https://inaseliesay.gitlab.io/vue-shop/images/logo.png" alt="#" />
        </router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class=""> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item" :class="this.$route.name === 'home' ?? 'active'">
              <router-link class="nav-link" to="/">
                Home
                <span class="sr-only">(current)</span>
              </router-link>
            </li>
            <li class="nav-item" :class="this.$route.name === 'about' ?? 'active'">
              <router-link class="nav-link" to="/about">
                About
                <span class="sr-only">(current)</span>
              </router-link>
            </li>
            <li class="nav-item" :class="this.$route.name === 'contact' ?? 'active'">
              <router-link class="nav-link" to="/contact">
                Contact Us
                <span class="sr-only">(current)</span>
              </router-link>
            </li>
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"-->
<!--                 role="button" aria-haspopup="true" aria-expanded="true">-->
<!--                <span class="nav-label">-->
<!--                  Pages-->
<!--                  <span class="caret">-->

<!--                  </span>-->
<!--                </span>-->
<!--              </a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li><a href="about.html">About</a></li>-->
<!--                <li><a href="testimonial.html">Testimonial</a></li>-->
<!--              </ul>-->
<!--            </li>-->
          </ul>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>