<template>
  <div class="hero_area">
    <HeaderComponent/>
    <router-view/>
    <div class="cpy_">
      <p class="mx-auto">© {{ new Date().getFullYear() }} All Rights Reserved
      </p>
    </div>
  </div>
</template>

<script>
import HeaderComponent from "@/components/HeaderComponent";
export default {
  components: {HeaderComponent}
}
</script>

<style>
</style>
